@import "tailwindcss";

.rdp-root {
  --rdp-accent-color: var(--color-orange-400) !important;
  --rdp-accent-background-color: var(--color-orange-100) !important;
}

* {
  font-family: "Open Sans", sans-serif;
}
